<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n">
  <xi:include href="layout.html" />
  <head>
    <title>Git Graph</title>
  </head>
  <body>
    <div id="git-graph-container">
    	<div id="rel-container">
	    	<canvas id="graph-canvas" width="100px">
				<ul id="graph-raw-list">
					<li py:for="graph_item in graph_list">
						<span class="node-relation">${graph_item['relation']}</span>
					</li>
				</ul>
			</canvas>
		</div>
		
		<div style="float:left;" id="rev-container">
			<ul id="rev-list">
				<li py:for="graph_item in graph_list" py:choose="">
					<a href="changeset/${graph_item['rev']}" py:when="graph_item['rev']">
						<strong>${graph_item['branch']}</strong> <em>${graph_item['subject']}</em> by <span class="author">${graph_item['author']} &lt;${graph_item['author_email']}&gt;</span>  <span class="time">${graph_item['date']}</span>
					</a>
					
					<span py:otherwise=""></span>
				</li>
			</ul>
		</div>
    </div>
  </body>
</html>
